*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
    text-align: center;
}

.section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url("../images/bmw.jpg");
    background-position: center;
    background-size: cover;
}

.hero{
    width: 80%;
    padding: 30px 0px;
    margin: auto;
}

h1{
    margin-top: 5vh;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: yellow;
}

h1::after{
    content:"";
    height: 3px;
    width: 225px;
    background-color: yellow;
    display: block;
    margin: auto;
}

p{
    margin-top: 20px;
    padding-top: 25vh;
    font-size: 17px;
    line-height: 1.5;
    color: white;
}